{% load widget_tweaks app_extras %}
{# Renders all visible fields of `form`. Wrap in your own <form> tag. #}
{% if form.non_field_errors %}
  <ul class="errorlist">{% for e in form.non_field_errors %}<li>{{ e }}</li>{% endfor %}</ul>
{% endif %}
{% for field in form.visible_fields %}
  <div class="field">
    {% if field|field_type == 'CheckboxInput' %}
      <label style="font-weight:500">{{ field }} {{ field.label }}</label>
    {% else %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% render_field field %}
    {% endif %}
    {% if field.help_text %}<span class="helptext">{{ field.help_text }}</span>{% endif %}
    {% if field.errors %}
      <ul class="errorlist">{% for e in field.errors %}<li>{{ e }}</li>{% endfor %}</ul>
    {% endif %}
  </div>
{% endfor %}
{% for field in form.hidden_fields %}{{ field }}{% endfor %}
